/***************************
 Color scheme:
  #7D3B79
  #5172AB
  #488956
  #6E6534
  #CC5231
***************************/
@import url('https://fonts.googleapis.com/css?family=Coustard|Poppins');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #488956;
    color: #CC5231;
}
* {
    font-family: 'Poppins', Trebuchet, Tahoma, Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Coustard', Palatino, 'Hoefler Text', Times, 'Times New Roman', serif;
}
header{
  margin-top: 3.5rem;
}
.nav-purple {
    background-color: #7D3B79;
}
.btn-blue {
    background-color: #5172AB;
    transition: fill 0.2s;
}
.btn-blue:hover {
    background-color: #6E6534;
}
.btn-blue:active {
    background-color: #CC5231;
}
.jumbotron-title {
    background-image: url(../img/enolagay-bg.jpg);
    background-size: cover;
    display: table-cell;
    height: 94vh;
    width: 100vw;
    vertical-align: middle;
}
.jumbotron-light {
    background-color: white;
    color: #488956;
}
.jumbotron-dark {
    color: white;
    background-color: #488956;
}
.container-title {
    background-color: #488956;
    color: white;
    box-shadow: 0 2px 6px rgba(126, 132, 122, 0.43);
}
.wrap {
    min-height: 94vh;
    height: auto !important;
    margin: 0 auto -12rem;
}
footer,
.push{
    height: 12rem;
}
footer {
    line-height: 3rem;
    background-color: #7D3B79;
    color: white;
}
.iconic {
    fill: #5172AB;
    transition: fill 0.2s;
}
.iconic:hover {
  fill: #6E6534;
}
.iconic:active {
  fill: #6E6534;
}
#emailHelp {
  color: black !important;
}
